## Cleaning Empty Cells

In [8]:
import pandas as pd

In [4]:
df=pd.read_csv('dirty_employee_data.csv')
print(df.to_string())

     ID           Name   Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown   NaN  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams   NaN  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown   NaN  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis   NaN                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson   NaN   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green   NaN  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee   NaN                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green   NaN  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall   NaN  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall   NaN  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson   NaN  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson   NaN  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson   NaN   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams   NaN  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall   NaN  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee   NaN  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green   NaN  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee   NaN                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green   NaN  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green   NaN  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall   NaN  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall   NaN   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown   NaN  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis   NaN  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson   NaN  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee   NaN                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson   NaN  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith   NaN  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson   NaN  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams   NaN  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green   NaN  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green   NaN  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson   NaN  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe   NaN  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown   NaN  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson   NaN  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe   NaN  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson   NaN                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson   NaN  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams   NaN  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith   NaN  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe   NaN   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson   NaN  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson   NaN  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown   NaN  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe   NaN  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson   NaN  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee   NaN  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green   NaN  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson   NaN  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green   NaN  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee   NaN  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith   NaN                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.0  employee69@example.com      NaN         NaN      Sales         No

#### Remove Rows

In [32]:
new_df=df.dropna() #Remove rows with missing values in new created new table
print(new_df.to_string())

    ID         Name   Age                   Email   Salary   Join_Date Department Is_Manager
1    2  Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
23  24  Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
34  35      Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
41  42   Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
69  70  Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
86  87    Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes

In [30]:
df=pd.read_csv('dirty_employee_data.csv')  ##Remove rows with missing values in original table
df.dropna(inplace=True)
print(df.to_string())

    ID         Name   Age                   Email   Salary   Join_Date Department Is_Manager
1    2  Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
23  24  Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
34  35      Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
41  42   Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
69  70  Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
86  87    Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes

#### Replace null value with 999

In [42]:
df=pd.read_csv('dirty_employee_data.csv')
df.fillna(999,inplace=True)
print(df.to_string())

     ID           Name    Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown  999.0  employee55@example.com    999.0  2017-10-14  Marketing        Yes
1     2    Alice Brown   42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams  999.0  employee55@example.com    999.0  2021-07-30         IT        Yes
3     4     Jane Smith   44.0                     999    999.0         999         IT         No
4     5    Alice Brown  999.0  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis  999.0                     999    999.0  2016-06-20         HR        Yes
6     7   Frank Wilson  999.0   employee7@example.com    999.0         999      Sales         No
7     8      Eva Green  999.0  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee  999.0                     999  54521.0  2022-11-24         HR        Yes
9    10      Eva Green  999.0  employee88@example.com    999.0         999         IT         No
10   11       John Doe   35.0  employee61@example.com    999.0  2023-11-22      Sales         No
11   12    Bob Johnson   37.0  employee19@example.com  63846.0         999      Sales         No
12   13     Grace Hall  999.0  employee47@example.com  69196.0         999         IT         No
13   14  Charlie Davis   40.0  employee77@example.com  73606.0         999  Marketing        Yes
14   15  Charlie Davis   37.0  employee74@example.com  61932.0         999         HR        Yes
15   16      Eva Green   29.0  employee24@example.com    999.0  2020-10-01         HR        Yes
16   17     Grace Hall  999.0  employee93@example.com    999.0  2020-07-22      Sales        Yes
17   18    Bob Johnson  999.0  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown   32.0  employee34@example.com    999.0         999    Finance        Yes
19   20  Charlie Davis   31.0  employee10@example.com    999.0         999  Marketing        Yes
20   21       John Doe   27.0   employee7@example.com    999.0  2017-07-17      Sales        Yes
21   22   Frank Wilson  999.0  employee18@example.com  42365.0         999         IT        Yes
22   23    Bob Johnson  999.0   employee6@example.com    999.0         999      Sales        Yes
23   24    Alice Brown   32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams  999.0  employee38@example.com  76625.0         999  Marketing         No
25   26    Bob Johnson   49.0  employee87@example.com    999.0         999  Marketing        Yes
26   27     Jane Smith   56.0  employee92@example.com    999.0  2021-02-01         HR         No
27   28     Grace Hall  999.0  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith   59.0                     999  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe   60.0  employee64@example.com    999.0         999         IT         No
30   31        Ivy Lee  999.0  employee89@example.com    999.0         999    Finance         No
31   32     Jane Smith   54.0  employee76@example.com    999.0  2022-10-26    Finance         No
32   33      Eva Green  999.0  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee  999.0                     999    999.0  2016-05-13  Marketing         No
34   35        Ivy Lee   44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green  999.0  employee66@example.com    999.0  2022-12-20      Sales         No
36   37      Eva Green  999.0  employee25@example.com    999.0  2023-07-05    Finance        Yes
37   38     Grace Hall  999.0  employee44@example.com    999.0         999         IT         No
38   39      Eva Green   28.0  employee29@example.com    999.0  2017-10-19         IT         No
39   40     Grace Hall  999.0   employee4@example.com  71113.0         999         HR         No
40   41    Alice Brown   43.0  employee34@example.com    999.0  2020-04-26         IT        Yes
41   42     Jane Smith   33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown  999.0  employee19@example.com  54523.0         999      Sales         No
43   44  Charlie Davis  999.0  employee23@example.com  48079.0         999         IT        Yes
44   45   Frank Wilson  999.0  employee37@example.com    999.0         999  Marketing        Yes
45   46     Grace Hall   58.0  employee18@example.com  55980.0         999    Finance        Yes
46   47        Ivy Lee  999.0                     999    999.0  2016-09-14      Sales         No
47   48     Jane Smith   25.0                     999    999.0         999      Sales         No
48   49   Frank Wilson  999.0  employee28@example.com  71978.0         999  Marketing        Yes
49   50     Jane Smith  999.0  employee67@example.com  66002.0         999  Marketing         No
50   51      Eva Green   53.0  employee61@example.com    999.0  2016-10-29         HR        Yes
51   52      Eva Green   31.0  employee18@example.com    999.0  2016-12-09  Marketing         No
52   53   Frank Wilson  999.0  employee24@example.com  42029.0         999  Marketing        Yes
53   54    Henry Adams  999.0  employee94@example.com    999.0  2022-04-23    Finance        Yes
54   55    Bob Johnson   55.0  employee75@example.com  55463.0         999    Finance         No
55   56   Frank Wilson   45.0  employee22@example.com  72603.0         999         IT         No
56   57  Charlie Davis   54.0  employee32@example.com    999.0  2017-02-22    Finance        Yes
57   58      Eva Green  999.0  employee20@example.com    999.0         999         IT        Yes
58   59      Eva Green   29.0  employee83@example.com  55809.0         999      Sales         No
59   60  Charlie Davis   42.0  employee40@example.com    999.0  2018-06-18      Sales         No
60   61      Eva Green  999.0  employee56@example.com    999.0         999    Finance         No
61   62    Alice Brown   34.0                     999    999.0  2018-11-11    Finance        Yes
62   63   Frank Wilson  999.0  employee84@example.com  45630.0         999      Sales        Yes
63   64       John Doe  999.0  employee28@example.com  54290.0         999         IT         No
64   65      Eva Green   56.0  employee27@example.com    999.0  2017-05-04  Marketing        Yes
65   66    Alice Brown  999.0  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson  999.0  employee73@example.com    999.0  2020-07-29    Finance        Yes
67   68       John Doe  999.0  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson  999.0                     999    999.0  2021-02-07         HR         No
69   70    Henry Adams   59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green   50.0  employee39@example.com    999.0  2020-02-05  Marketing         No
71   72    Bob Johnson  999.0  employee95@example.com    999.0         999         HR        Yes
72   73    Henry Adams  999.0  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe   32.0  employee80@example.com    999.0         999         HR         No
74   75   Frank Wilson   32.0  employee88@example.com  78426.0         999      Sales        Yes
75   76     Jane Smith   49.0  employee72@example.com    999.0         999         IT        Yes
76   77     Jane Smith  999.0  employee35@example.com  79579.0         999  Marketing         No
77   78       John Doe  999.0   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson  999.0  employee26@example.com    999.0         999    Finance         No
79   80      Eva Green   47.0  employee59@example.com  74736.0         999    Finance        Yes
80   81    Bob Johnson  999.0  employee55@example.com  74321.0         999      Sales         No
81   82    Alice Brown  999.0  employee32@example.com    999.0         999    Finance        Yes
82   83       John Doe   46.0  employee88@example.com  50291.0         999    Finance        Yes
83   84       John Doe  999.0  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson  999.0  employee39@example.com    999.0         999  Marketing         No
85   86        Ivy Lee  999.0  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green   44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green   41.0  employee56@example.com  76219.0         999    Finance        Yes
88   89      Eva Green  999.0  employee56@example.com    999.0  2015-05-22         HR        Yes
89   90   Frank Wilson  999.0  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown   52.0  employee23@example.com  71285.0         999         IT         No
91   92      Eva Green  999.0  employee10@example.com    999.0  2021-10-25  Marketing        Yes
92   93    Bob Johnson   50.0  employee76@example.com    999.0  2020-03-04         HR         No
93   94    Henry Adams   42.0  employee23@example.com    999.0  2016-02-05      Sales         No
94   95        Ivy Lee  999.0  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe   52.0  employee30@example.com    999.0         999  Marketing         No
96   97       John Doe   53.0  employee13@example.com    999.0         999         HR         No
97   98     Jane Smith  999.0                     999  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith   56.0  employee22@example.com    999.0         999    Finance         No
99  100   Frank Wilson   59.0  employee69@example.com    999.0         999      Sales         No

#### Replace 108 only in specified column

In [61]:
df=pd.read_csv('dirty_employee_data.csv')
df["Age"]=df["Age"].fillna(108)
print(df.to_string())

     ID           Name    Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown  108.0  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown   42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams  108.0  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith   44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown  108.0  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis  108.0                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson  108.0   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green  108.0  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee  108.0                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green  108.0  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe   35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson   37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall  108.0  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis   40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis   37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green   29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall  108.0  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson  108.0  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown   32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis   31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe   27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson  108.0  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson  108.0   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown   32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams  108.0  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson   49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith   56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall  108.0  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith   59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe   60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee  108.0  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith   54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green  108.0  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee  108.0                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee   44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green  108.0  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green  108.0  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall  108.0  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green   28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall  108.0   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown   43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith   33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown  108.0  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis  108.0  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson  108.0  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall   58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee  108.0                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith   25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson  108.0  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith  108.0  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green   53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green   31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson  108.0  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams  108.0  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson   55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson   45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis   54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green  108.0  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green   29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis   42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green  108.0  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown   34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson  108.0  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe  108.0  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green   56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown  108.0  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson  108.0  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe  108.0  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson  108.0                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams   59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green   50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson  108.0  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams  108.0  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe   32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson   32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith   49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith  108.0  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe  108.0   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson  108.0  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green   47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson  108.0  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown  108.0  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe   46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe  108.0  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson  108.0  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee  108.0  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green   44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green   41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green  108.0  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson  108.0  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown   52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green  108.0  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson   50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams   42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee  108.0  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe   52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe   53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith  108.0                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith   56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson   59.0  employee69@example.com      NaN         NaN      Sales         No

#### Replace using mean, median or mode

In [10]:
df=pd.read_csv('dirty_employee_data.csv')
x=df['Age'].mean()
df['Age']=df['Age'].fillna(x)
print(df.to_string())

     ID           Name        Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown  43.787234  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.000000   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams  43.787234  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.000000                     NaN      NaN         NaN         IT         No
4     5    Alice Brown  43.787234  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis  43.787234                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson  43.787234   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green  43.787234  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee  43.787234                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green  43.787234  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.000000  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.000000  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall  43.787234  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.000000  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.000000  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.000000  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall  43.787234  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson  43.787234  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.000000  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.000000  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.000000   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson  43.787234  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson  43.787234   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.000000  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams  43.787234  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.000000  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.000000  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall  43.787234  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.000000                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.000000  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee  43.787234  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.000000  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green  43.787234  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee  43.787234                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.000000  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green  43.787234  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green  43.787234  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall  43.787234  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.000000  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall  43.787234   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.000000  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.000000  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown  43.787234  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis  43.787234  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson  43.787234  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.000000  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee  43.787234                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.000000                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson  43.787234  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith  43.787234  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.000000  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.000000  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson  43.787234  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams  43.787234  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.000000  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.000000  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.000000  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green  43.787234  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.000000  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.000000  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green  43.787234  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.000000                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson  43.787234  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe  43.787234  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.000000  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown  43.787234  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson  43.787234  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe  43.787234  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson  43.787234                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.000000  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.000000  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson  43.787234  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams  43.787234  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.000000  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.000000  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.000000  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith  43.787234  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe  43.787234   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson  43.787234  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.000000  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson  43.787234  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown  43.787234  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.000000  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe  43.787234  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson  43.787234  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee  43.787234  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.000000  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.000000  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green  43.787234  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson  43.787234  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.000000  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green  43.787234  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.000000  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.000000  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee  43.787234  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.000000  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.000000  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith  43.787234                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.000000  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.000000  employee69@example.com      NaN         NaN      Sales         No

In [12]:
df=pd.read_csv('dirty_employee_data.csv')
x=df['Age'].median()
df['Age']=df['Age'].fillna(x)
print(df.to_string())

     ID           Name   Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown  44.0  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams  44.0  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown  44.0  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis  44.0                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson  44.0   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green  44.0  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee  44.0                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green  44.0  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall  44.0  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall  44.0  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson  44.0  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson  44.0  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson  44.0   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams  44.0  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall  44.0  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee  44.0  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green  44.0  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee  44.0                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green  44.0  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green  44.0  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall  44.0  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall  44.0   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown  44.0  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis  44.0  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson  44.0  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee  44.0                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson  44.0  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith  44.0  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson  44.0  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams  44.0  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green  44.0  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green  44.0  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson  44.0  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe  44.0  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown  44.0  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson  44.0  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe  44.0  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson  44.0                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson  44.0  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams  44.0  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith  44.0  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe  44.0   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson  44.0  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson  44.0  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown  44.0  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe  44.0  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson  44.0  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee  44.0  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green  44.0  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson  44.0  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green  44.0  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee  44.0  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith  44.0                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.0  employee69@example.com      NaN         NaN      Sales         No

In [14]:
df=pd.read_csv('dirty_employee_data.csv')
x=df['Age'].mode()[0]
df['Age']=df['Age'].fillna(x)
print(df.to_string())

     ID           Name   Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown  32.0  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams  32.0  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown  32.0  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis  32.0                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson  32.0   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green  32.0  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee  32.0                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green  32.0  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall  32.0  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall  32.0  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson  32.0  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson  32.0  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson  32.0   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams  32.0  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall  32.0  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee  32.0  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green  32.0  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee  32.0                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green  32.0  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green  32.0  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall  32.0  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall  32.0   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown  32.0  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis  32.0  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson  32.0  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee  32.0                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson  32.0  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith  32.0  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson  32.0  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams  32.0  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green  32.0  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green  32.0  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson  32.0  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe  32.0  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown  32.0  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson  32.0  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe  32.0  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson  32.0                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson  32.0  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams  32.0  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith  32.0  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe  32.0   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson  32.0  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson  32.0  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown  32.0  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe  32.0  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson  32.0  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee  32.0  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green  32.0  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson  32.0  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green  32.0  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee  32.0  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith  32.0                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.0  employee69@example.com      NaN         NaN      Sales         No