## Pandas Removing Duplicate Values

In [4]:
import pandas as pd

In [8]:
df=pd.read_csv('dirty_employee_data.csv')
print(df.to_string())

     ID           Name   Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown   NaN  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams   NaN  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown   NaN  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis   NaN                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson   NaN   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green   NaN  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee   NaN                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green   NaN  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall   NaN  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall   NaN  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson   NaN  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson   NaN  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson   NaN   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams   NaN  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall   NaN  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee   NaN  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green   NaN  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee   NaN                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green   NaN  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green   NaN  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall   NaN  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall   NaN   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown   NaN  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis   NaN  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson   NaN  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee   NaN                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson   NaN  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith   NaN  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson   NaN  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams   NaN  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green   NaN  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green   NaN  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson   NaN  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe   NaN  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown   NaN  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson   NaN  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe   NaN  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson   NaN                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson   NaN  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams   NaN  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith   NaN  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe   NaN   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson   NaN  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson   NaN  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown   NaN  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe   NaN  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson   NaN  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee   NaN  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green   NaN  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson   NaN  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green   NaN  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee   NaN  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith   NaN                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.0  employee69@example.com      NaN         NaN      Sales         No

#### Find duplicate values

In [22]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

#### Remove duplicate values

In [18]:
df.drop_duplicates(inplace=True)
print(df.to_string())

     ID           Name   Age                   Email   Salary   Join_Date Department Is_Manager
0     1    Alice Brown   NaN  employee55@example.com      NaN  2017-10-14  Marketing        Yes
1     2    Alice Brown  42.0   employee9@example.com  67538.0  2017-05-15         HR        Yes
2     3    Henry Adams   NaN  employee55@example.com      NaN  2021-07-30         IT        Yes
3     4     Jane Smith  44.0                     NaN      NaN         NaN         IT         No
4     5    Alice Brown   NaN  employee20@example.com  71422.0  2021-11-27         IT         No
5     6  Charlie Davis   NaN                     NaN      NaN  2016-06-20         HR        Yes
6     7   Frank Wilson   NaN   employee7@example.com      NaN         NaN      Sales         No
7     8      Eva Green   NaN  employee93@example.com  43958.0  2019-11-26    Finance         No
8     9        Ivy Lee   NaN                     NaN  54521.0  2022-11-24         HR        Yes
9    10      Eva Green   NaN  employee88@example.com      NaN         NaN         IT         No
10   11       John Doe  35.0  employee61@example.com      NaN  2023-11-22      Sales         No
11   12    Bob Johnson  37.0  employee19@example.com  63846.0         NaN      Sales         No
12   13     Grace Hall   NaN  employee47@example.com  69196.0         NaN         IT         No
13   14  Charlie Davis  40.0  employee77@example.com  73606.0         NaN  Marketing        Yes
14   15  Charlie Davis  37.0  employee74@example.com  61932.0         NaN         HR        Yes
15   16      Eva Green  29.0  employee24@example.com      NaN  2020-10-01         HR        Yes
16   17     Grace Hall   NaN  employee93@example.com      NaN  2020-07-22      Sales        Yes
17   18    Bob Johnson   NaN  employee23@example.com  42935.0  2021-01-14    Finance        Yes
18   19    Alice Brown  32.0  employee34@example.com      NaN         NaN    Finance        Yes
19   20  Charlie Davis  31.0  employee10@example.com      NaN         NaN  Marketing        Yes
20   21       John Doe  27.0   employee7@example.com      NaN  2017-07-17      Sales        Yes
21   22   Frank Wilson   NaN  employee18@example.com  42365.0         NaN         IT        Yes
22   23    Bob Johnson   NaN   employee6@example.com      NaN         NaN      Sales        Yes
23   24    Alice Brown  32.0  employee82@example.com  55348.0  2016-12-27         HR         No
24   25    Henry Adams   NaN  employee38@example.com  76625.0         NaN  Marketing         No
25   26    Bob Johnson  49.0  employee87@example.com      NaN         NaN  Marketing        Yes
26   27     Jane Smith  56.0  employee92@example.com      NaN  2021-02-01         HR         No
27   28     Grace Hall   NaN  employee10@example.com  62086.0  2022-05-28    Finance         No
28   29     Jane Smith  59.0                     NaN  50112.0  2021-09-23  Marketing        Yes
29   30       John Doe  60.0  employee64@example.com      NaN         NaN         IT         No
30   31        Ivy Lee   NaN  employee89@example.com      NaN         NaN    Finance         No
31   32     Jane Smith  54.0  employee76@example.com      NaN  2022-10-26    Finance         No
32   33      Eva Green   NaN  employee31@example.com  64793.0  2015-09-12  Marketing         No
33   34        Ivy Lee   NaN                     NaN      NaN  2016-05-13  Marketing         No
34   35        Ivy Lee  44.0  employee88@example.com  76368.0  2019-07-16         IT        Yes
35   36      Eva Green   NaN  employee66@example.com      NaN  2022-12-20      Sales         No
36   37      Eva Green   NaN  employee25@example.com      NaN  2023-07-05    Finance        Yes
37   38     Grace Hall   NaN  employee44@example.com      NaN         NaN         IT         No
38   39      Eva Green  28.0  employee29@example.com      NaN  2017-10-19         IT         No
39   40     Grace Hall   NaN   employee4@example.com  71113.0         NaN         HR         No
40   41    Alice Brown  43.0  employee34@example.com      NaN  2020-04-26         IT        Yes
41   42     Jane Smith  33.0  employee92@example.com  74596.0  2023-11-28  Marketing         No
42   43    Alice Brown   NaN  employee19@example.com  54523.0         NaN      Sales         No
43   44  Charlie Davis   NaN  employee23@example.com  48079.0         NaN         IT        Yes
44   45   Frank Wilson   NaN  employee37@example.com      NaN         NaN  Marketing        Yes
45   46     Grace Hall  58.0  employee18@example.com  55980.0         NaN    Finance        Yes
46   47        Ivy Lee   NaN                     NaN      NaN  2016-09-14      Sales         No
47   48     Jane Smith  25.0                     NaN      NaN         NaN      Sales         No
48   49   Frank Wilson   NaN  employee28@example.com  71978.0         NaN  Marketing        Yes
49   50     Jane Smith   NaN  employee67@example.com  66002.0         NaN  Marketing         No
50   51      Eva Green  53.0  employee61@example.com      NaN  2016-10-29         HR        Yes
51   52      Eva Green  31.0  employee18@example.com      NaN  2016-12-09  Marketing         No
52   53   Frank Wilson   NaN  employee24@example.com  42029.0         NaN  Marketing        Yes
53   54    Henry Adams   NaN  employee94@example.com      NaN  2022-04-23    Finance        Yes
54   55    Bob Johnson  55.0  employee75@example.com  55463.0         NaN    Finance         No
55   56   Frank Wilson  45.0  employee22@example.com  72603.0         NaN         IT         No
56   57  Charlie Davis  54.0  employee32@example.com      NaN  2017-02-22    Finance        Yes
57   58      Eva Green   NaN  employee20@example.com      NaN         NaN         IT        Yes
58   59      Eva Green  29.0  employee83@example.com  55809.0         NaN      Sales         No
59   60  Charlie Davis  42.0  employee40@example.com      NaN  2018-06-18      Sales         No
60   61      Eva Green   NaN  employee56@example.com      NaN         NaN    Finance         No
61   62    Alice Brown  34.0                     NaN      NaN  2018-11-11    Finance        Yes
62   63   Frank Wilson   NaN  employee84@example.com  45630.0         NaN      Sales        Yes
63   64       John Doe   NaN  employee28@example.com  54290.0         NaN         IT         No
64   65      Eva Green  56.0  employee27@example.com      NaN  2017-05-04  Marketing        Yes
65   66    Alice Brown   NaN  employee65@example.com  72433.0  2021-05-15  Marketing        Yes
66   67   Frank Wilson   NaN  employee73@example.com      NaN  2020-07-29    Finance        Yes
67   68       John Doe   NaN  employee74@example.com  55470.0  2020-05-19         HR        Yes
68   69   Frank Wilson   NaN                     NaN      NaN  2021-02-07         HR         No
69   70    Henry Adams  59.0  employee30@example.com  59742.0  2019-10-21         HR         No
70   71      Eva Green  50.0  employee39@example.com      NaN  2020-02-05  Marketing         No
71   72    Bob Johnson   NaN  employee95@example.com      NaN         NaN         HR        Yes
72   73    Henry Adams   NaN  employee77@example.com  59333.0  2016-04-03  Marketing        Yes
73   74       John Doe  32.0  employee80@example.com      NaN         NaN         HR         No
74   75   Frank Wilson  32.0  employee88@example.com  78426.0         NaN      Sales        Yes
75   76     Jane Smith  49.0  employee72@example.com      NaN         NaN         IT        Yes
76   77     Jane Smith   NaN  employee35@example.com  79579.0         NaN  Marketing         No
77   78       John Doe   NaN   employee6@example.com  62292.0  2019-10-24         IT        Yes
78   79   Frank Wilson   NaN  employee26@example.com      NaN         NaN    Finance         No
79   80      Eva Green  47.0  employee59@example.com  74736.0         NaN    Finance        Yes
80   81    Bob Johnson   NaN  employee55@example.com  74321.0         NaN      Sales         No
81   82    Alice Brown   NaN  employee32@example.com      NaN         NaN    Finance        Yes
82   83       John Doe  46.0  employee88@example.com  50291.0         NaN    Finance        Yes
83   84       John Doe   NaN  employee58@example.com  64385.0  2022-02-28  Marketing         No
84   85   Frank Wilson   NaN  employee39@example.com      NaN         NaN  Marketing         No
85   86        Ivy Lee   NaN  employee58@example.com  70286.0  2020-09-30      Sales        Yes
86   87      Eva Green  44.0  employee44@example.com  77163.0  2023-12-18      Sales        Yes
87   88      Eva Green  41.0  employee56@example.com  76219.0         NaN    Finance        Yes
88   89      Eva Green   NaN  employee56@example.com      NaN  2015-05-22         HR        Yes
89   90   Frank Wilson   NaN  employee84@example.com  53388.0  2021-02-27         IT        Yes
90   91    Alice Brown  52.0  employee23@example.com  71285.0         NaN         IT         No
91   92      Eva Green   NaN  employee10@example.com      NaN  2021-10-25  Marketing        Yes
92   93    Bob Johnson  50.0  employee76@example.com      NaN  2020-03-04         HR         No
93   94    Henry Adams  42.0  employee23@example.com      NaN  2016-02-05      Sales         No
94   95        Ivy Lee   NaN  employee93@example.com  58297.0  2021-11-14         IT        Yes
95   96       John Doe  52.0  employee30@example.com      NaN         NaN  Marketing         No
96   97       John Doe  53.0  employee13@example.com      NaN         NaN         HR         No
97   98     Jane Smith   NaN                     NaN  75530.0  2015-06-20      Sales        Yes
98   99     Jane Smith  56.0  employee22@example.com      NaN         NaN    Finance         No
99  100   Frank Wilson  59.0  employee69@example.com      NaN         NaN      Sales         No